@import "tailwindcss";

@font-face{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 700;
    src: url('/assets/fonts/inter-font.woff2') format('woff2');
    font-display: swap;
}

/* Creacion de variables */
@theme {
  --color-primary: #09f;
    --color-primary-light: #ceecff;
    --color-primary-dark: rgb(0, 22, 83);
    --color-html: #E34F26;
    --color-css: #663399;
    --color-js: #F7DF1E;

    /* Fuentes */
    --font-sans: 'Inter', system-ui, sans-serif;
    /* Breakpoints - media query */
    --breakpoint-xs: 350px;
}

.social-button {
    /* No se recomienda usar apply, es mejor crear un componente en react*/
    @apply p-2 size-12 sm:size-16 flex items-center justify-center rounded-full 
        hover:scale-110 transition-transform;
}